SECRET_KEY="django-insecure-)l#rjkk(z=flk06$h03287!8su@%chxcbcv2*naug%(cgff0q!"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=

AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=

AWS_S3_SIGNATURE_VERSION=
AWS_S3_ADDRESSING_STYLE=

AWS_QUERYSTRING_AUTH=